@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
    --clr-main: rgb (10, 10, 10) ;
    --clr-main-light: rgb(177, 252, 102);
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
}



aside {
    padding: 2res;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
    text-decoration: none;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 30%;
    border-radius: 1rem;
}

.producto-detalle {
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    width: 30%;
    margin: 10px;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    text-decoration: none;
}

.producto-titulo {
    font-size: 1rem;
    text-decoration: none;

}
.link{
    text-decoration: none;
    justify-content: center;
}
