.header-movile{
    display: flex;
    height: 4rem;
    align-items: center;
    margin: 1rem;
}
.logo{

    width: 8rem;
    height: 6rem;
    margin: 10px;
}

.menu-header{
    width: 70%;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}
.menu-header li{
    display: flex;
}
.links{
    color:#acacac;
    padding-right: 2rem;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: .5s;
    background-color: transparent;

}
.links:hover{
    transform: scale(1.02);
    color:#8c8c8c;

}