<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../products/detalle.css">
    <title>Detalle</title>
</head>
<body>
    <section>
        <div class="container flex">
            <div class="left">
                <div class="main_image">
                <img src="image/p1.jpg" class="slide">
            </div>
            <div class="right">
                <h3>Beats Solo3 Wireless</h3>
                <h4> <small>$</small>999.99 </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <h5>Color-Rose Gold</h5>
                <div class="color flex1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                </div>
                <h5>Number</h5>
                <div class="add flex1">
                <span>-</span>
                <label>1</label>
                <span>+</span>
                </div>
        
                <button>Add to Bag</button>
            </div>
            </div>
        </section>
</body>
</html>